<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Edit Grocery Item</h1>

      <form action="/groceries/<%= grocery.id %>/update" method="post">
        <div class="form-group">
          <label for="item">Grocery Item</label>
          <input value="<%= grocery.item %>" type="text" class="form-control" name="item" aria-describedby="itemHelp" placeholder="Enter Grocery Item">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>