<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Shopping List</h1>
      <% if(currentUser) { %>
      <form class="new-item-form" action="/groceries/create" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="item" aria-describedby="itemHelp" placeholder="Enter Item">
        </div>
        <button type="submit" class="btn btn-success btn-add-item">Add Item</button>
      </form>
        <ul class="list-group">
         <% groceries.forEach((grocery) => { %>
           <li class="list-group-item">
             <a href="/groceries/<%= grocery.id %>"> <%= grocery.item %> </a>
             <% if(grocery.purchased === true) { %>
              <i class="icon ion-md-checkmark"></i>
             <% } %>
           </li>
         <% }) %>
        </ul>
      <% } %>
    </main>
  </body>
</html>