<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Shopping List</h1>

      <a href="/groceries/new" class="btn btn-success">Add Item</a>

      <ul class="list-group">
        <% groceries.forEach((grocery) => { %>
          <li class="list-group-item">
            <a href="/groceries/<%= grocery.id %>"> <%= grocery.item %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>