<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>New Grocery Item</h1>

      <form action="/groceries/create" method="post">
        <div class="form-group">
          <label for="item">Grocery Item</label>
          <input type="text" class="form-control" name="item" aria-describedby="itemHelp" placeholder="Enter Grocery Item">
          <small class="text-muted" id="nameHelp">Item must be at least 3 characters</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>