<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <main class="container">
        <% include ../static/partials/messages.ejs %>

        <header class="jumbotron my-4">
          <h1 class="display-3">FamilyShop</h1>
          <p class="lead">A shared-real time Grocery Shopping List.</p>
          <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <section class="row text-center">

          <section class="col-lg-6">
            <h4 class="card-title">Free</h4>
            <p class="card-text">App is free to use!</p>
          </section>

          <section class="col-lg-6">
            <h4 class="card-title">Share</h4>
            <p class="card-text">Share the real-time Grocery List with your friends and family!</p>
          </section>

        </section>

      </main>
      
      <% include ./partials/baseScripts.ejs %>

    </body>
</html>